/*BLOCS*/

.blocs-container {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 105px;
	overflow: hidden;
}

.bloc {
	/*flex-basis: 30%;*/
	width: 30%;
	margin: 10px 10px 20px 10px;
	background-color: #fff;
	border-radius: 10px;
	padding-bottom: 10px;
	-webkit-animation: fadein 0.5s ease-in;
       -moz-animation: fadein 0.5s ease-in;
            animation: fadein 0.5s ease-in;
    img {
		width: 100%
	}
	.info {
		padding: 5px;
		position: relative;
	}
	p {
		margin: 0;
		font-size: 14px;
	}
}

.info span {
	font-size: 15px
}

span {
	&#hotel {
		display: block;
		margin-bottom: 5px;
	}
	&#type, &#extra {
		font-size: 11px;
		color: #fff;
		background-color: #000;
		padding: 4px;
		margin: 5px 5px 0 0;
		text-transform: uppercase;
	}
	&#extra {
		background-color: #bd9c6a;
	}
	&#select {
		position: absolute;
		right: 25px;
		bottom: 20%;
		img {width: 35px;}
	}
}