/*CAROUSEL*/

 .owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next {
    font-family: proxima_novaregular;
    font-size: 63px;
    color: #fff;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #000;
}
.owl-prev, .owl-next {
    width: 15px;
    height: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border:0 solid black;
    outline:none;
}
.owl-prev { left: 0px; }
.owl-next { right: 15px; }