/* Dropdown MENU */

.dropbtn {
	border: none;
	padding: 0;
	img {
	width: 250px;
	}
}

.dropdown {
	position: relative;
	display: inline-block;
	margin: 30px 0;
	&:hover .dropdown-content {
		display: block;
	}
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 250px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 2;
	background-color: #fff;
	a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
		text-align: center;
		&:hover {
			background-color: #c1c1c1;
		}
	}
}