@font-face {
	font-family: '718-book';
	src: url('../fonts/SevenOneEight-Book.woff2') format('woff2'), url('SevenOneEight-Book.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: '718-black';
	src: url('../fonts/SevenOneEight-Black.woff2') format('woff2'), url('SevenOneEight-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: '718-xb';
	src: url('../fonts/SevenOneEight-ExtraBold.woff2') format('woff2'), url('SevenOneEight-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: '718-m';
	src: url('../fonts/SevenOneEight-Medium.woff2') format('woff2'), url('SevenOneEight-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: '718-l';
	src: url('../fonts/SevenOneEight-Light.woff2') format('woff2'), url('SevenOneEight-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}