/*MOBILE*/

@media only screen and (max-width: 1000px) {
	.bloc {
		width: 45%;
	}
}

@media only screen and (max-width: 640px) {
	.blocs-container {
		flex-direction: column;
		align-items: center;
	}
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 23px;
	}
	.bloc {
		width: 100%;
	}
	.dropbtn img {
		width: 200px;
	}
	.dropdown-content {
	min-width: 200px;
	}
	#footer {
		padding: 10px 0;
	}
	hr {
		border: 2px solid #000;
	}
}