
@import "./fonts";

/*COMMON*/
body,
html {
	height: 100%;
	width: 100%;
	margin: 0px;
	scroll-behavior: smooth;
	background-color: #efefef;
	font-family: '718-l';
}

.main-container {
	max-width: 90%;
	margin: 10px auto;
}

h1 {
	font-family: '718-m';
	color: #d92e22;
	font-size: 35px;
	text-align: center;
	margin: 5px 0;
	text-transform: uppercase;
}

h2 {
	font-family: '718-book';
	color: #333333;
	font-size: 30px;
	text-align: center;
	margin: 0;
	text-transform: uppercase;
}

h3 {
	font-family: '718-black';
	color: #000;
	font-size: 15px;
	margin: 0;
	text-transform: uppercase;
	display: inline-block;
}

/*HEADER*/

#header {
	text-align: center;
}

hr {
	border: 3px solid #000;
	width: 150px;
	margin: 10px auto;
}

@import "./dropdownmenu";
@import "./countryfilter";
@import "./carousel";
@import "./blocs";


/*FOOTER*/

#footer {
	background-color: #333333;
	padding: 20px 0;
	position: fixed;
	bottom: 0;
	width: 90%;
	z-index: 2;
	p {
		font-family: '718-l';
		color: #fff;
		font-size: 15px;
		margin: 0;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	hr {
		border: 2px solid #ed3323;
		width: 150px;
		margin: 10px auto;
	}
}

@import "./mobile";